#navbar-display-1.navbar-inverse-1.navbar-inverse.navbar-home{:style => "background-color: rgba(21,21,23,0.95);top:0;display:none"}
  .navbar-header{:style => "margin-left: 50px;"}
    .navbar-brand= link_to (image_tag "cwl2.png", class:'img-responsive', style:'height:30px;'), root_path
  .navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Gallery", posts_path
      %li
        = link_to "Feed", posts_path
    %ul.nav.navbar-nav.navbar-right{:style => "margin-right: 50px;"}
      - if user_signed_in?
        %li
          = link_to "Upload", new_post_path
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to "Sign in", new_user_session_path
        %li
          = link_to "Register", new_user_registration_path
    
      
    %form.navbar-form.navbar-right{:action => "{{url('/searchimage')}}", :method => "GET", :role => "search", :style => "background-color: #c1c1c1; margin: 8px 15px; padding: 0px; border-radius: 2px;"}
      .form-group
        %input.form-control{:name => "title", :placeholder => "Photos, people, or groups", :type => "text", :style => "background-color: transparent; border: none; color: #222;"}
        %input.form-control{:name => "type", :type => "hidden", :value => "0"}
        %span{:style => "float: left;"}
          %button.btn.btn-default{:type => "submit", :style => " background: url(images/icon_search.png) no-repeat; border: 0px; width: 20px; height: 25px; padding: 0px; margin: 5px 8px;"}
%title Color World
.main
  .topstrip
    %header.mainheader
      %a{:href => "#"}
        =image_tag("cwl2.png",class:"logo")
      %nav{:style => "width: 250px;"}
        %ul{:style => "width:300px"}
          %li
            %a{:href => "#"}
              %p Gallery
              %p the beautiful world
          %li
            %a{:href => "#"}
              %p Feed
              %p your life .
          .clearfix
      %h1 Sharing photos and life style.
      %h2
        Save your best moments of your life as often as you can,one day its gonna be your most precious things.
        - if user_signed_in?
          Let's do it Now.
        - else
          = link_to "Sign in", new_user_session_path
          or 
          = link_to "Join us now", new_user_registration_path
          to start sharing
        
  .aboutUs
    .allAbout
      %section.textcontent
        %h1 About Us
        %p
          Bach Khoa University Of Science And Technology
          %br/
          20121867 - Nguyen Ngoc Hung
          %br/
          20122035 - Nguyen Khac Luong
          %br/
          20121864 - Nguyen Duy Hung
          %br/
          20124846 - Nguyen Thanh Luan
          %br/
          20122067 - Truong Tien Manh
          %br/
          20121504 - Ta Tat Dat
    %div
      %p{:style => "margin: 0px;"}.
:javascript
  $(window).scroll(function(){
    if($(window).scrollTop() > 700){
        document.getElementById('navbar-display-1').style.display = 'block';
    }
  });
  $(window).scroll(function(){
    if($(window).scrollTop() < 700){
        document.getElementById('navbar-display-1').style.display = 'none';
    }
  });