:javascript
  document.getElementById('navbar-display').style.display = 'block';
%title Feed
.container-fluid{}
  .row
    %section.td-2-content
      .container-fluid
        .row.td-blog-section
          / Phần sidebar bên trên
          .td-blog-sidebar
            .td-blog-right
              / Phần post
              .td-blog-post
                %span.td-catagories BÀI VIẾT MỚI
                .td-blog-gach
                .td-blog-post-1
                  .td-post-img
                    =link_to (image_tag @newposts[0].image.url(:medium), class:'img-responsive'), post_path(@newposts[0])
                  .td-post-content
                    %p.td-post-content-1 
                      =@newposts[0].caption
                    %p.td-post-content-2 
                      =@newposts[0].user.user_name + ' - ' + @newposts[0].created_at.to_s
                  .clear-fix
                .td-blog-post-1
                  .td-post-img
                    =link_to (image_tag @newposts[1].image.url(:medium), class:'img-responsive'), post_path(@newposts[1])
                  .td-post-content
                    %p.td-post-content-1 
                      = @newposts[1].caption
                    %p.td-post-content-2 
                      =@newposts[1].user.user_name + ' - ' + @newposts[1].created_at.to_s
                  .clear-fix
                .td-blog-post-1
                  .td-post-img
                    =link_to (image_tag @newposts[2].image.url(:medium), class:'img-responsive'), post_path(@newposts[2])
                  .td-post-content
                    %p.td-post-content-1 
                      = @newposts[2].caption
                    %p.td-post-content-2
                      = @newposts[2].user.user_name + ' - ' + @newposts[2].created_at.to_s
                  .clear-fix
              / Hết phần post
              / Phần tag
              .td-blog-tag
                %span.td-catagories TAG CLOUD
                .td-blog-gach
                .td-tag-content
                  %ul
                    / Đây là 1 tag
                    -@posts.each do |post|
                      =raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
                    / Kết thúc tag
                    .clear-fix
                .clear-fix
              / Hết phần tag
              .clear-fix
          / Hết phần side bar bên trên
          / Phần nội dung blog
          .td-blog-content.td-border
            / Phần danh sách bài viết
            %ul.td-blog-content-ul
              -@posts.each do |post|
                %li.td-blog-content-li
                  .td-content-li-img
                    =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
                  .td-content-li-content
                    %span.td-content-span-1
                      = link_to post.user.user_name, profile_path(post.user.user_name)
                    %a{}
                      %h3
                        =post.caption
                    %p
                      =raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
                    .td-gach
                      .td-gach-on
                    .like
                      - if user_signed_in?
                        .like-button.col-sm-1
                          - if current_user.liked?(post)
                            =link_to '', unlike_post_path(post.id), remote: true,
                                                                    id: "like_#{post.id}",
                                                                    class: "glyphicon #{liked_post post}"
                          - else
                            =link_to '', like_post_path(post.id), remote: true,
                                                                  id: "like_#{post.id}",
                                                                  class: "glyphicon #{liked_post post}"
                      .like-count
                        = render 'posts/likes', post: post  
                    %span{:style => "cursor: pointer; color: #7F7F7F; padding-right: 0px"}
                      %i.flaticon-speech102
                      11 COMMENT
                  .clear-fix
                .clear-fix
            / Hết danh sách bài viết
            .clear-fix
            .pagination= will_paginate
          / Hết phần nội dung blog
          