%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}/
    / Optional theme
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
  %body
    #navbar-display.navbar-inverse.navbar-home{:style => "background-color: rgba(21,21,23,0.95);top:0;display:none"}
      .navbar-header{:style => "margin-left: 50px;"}
        .navbar-brand= link_to (image_tag "cwl2.png", class:'img-responsive', style:'height:30px;'), root_path
      .navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to "Gallery", posts_path
          %li
            = link_to "Feed", posts_path
        %ul.nav.navbar-nav.navbar-right{:style => "margin-right: 50px;"}
          - if user_signed_in?
            %li
              = render 'notifications/notification_dropdown'
            %li
              = link_to "Upload", new_post_path
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Sign in", new_user_session_path
            %li
              = link_to "Register", new_user_registration_path
        %form.navbar-form.navbar-right{:action => "/searchs/search", :method => "GET", :role => "search", :style => "background-color: #c1c1c1; margin: 8px 15px; padding: 0px; border-radius: 2px;"}
          .form-group
            %input.form-control{:name => "title", :placeholder => "Photos, people or groups", :type => "text", :style => "background-color: transparent; border: none; color: #222;"}
            %span{:style => "float: left;"}
              %button{:type => "submit", :style => "background-color: transparent; border: 0px; padding: 0px; margin: 5px 8px;"}
                .glyphicon.glyphicon-search{:style => "margin-bottom: 5px; font-size: 20px;"}
    = yield
    